.DS_Store
.idea
images
data
__pycache__
logs
checkpoints
predictions/
predictions/*
validation/
test/
old_data/
experiments
remove_experiment.py
resample.py
compare_decision_boundaries.py
compare_models.py
demonstrate_pct.py
evaluate_models.py
plot_learning_curves.py
waterbody-data.tar.gz
scripts/

